# ============================================================
# 🔗 Shared
# ============================================================

# ✅ required - Public URL of the Docs.
VITE_DOCS_URL=http://localhost:3001

# ✅ required - Public URL of the web app.
VITE_APP_URL=http://localhost:3000

# ✅ required - Secret key for Better Auth. Generate with: vp run auth:secret
BETTER_AUTH_SECRET="replace-with-at-least-32-characters"

# ✅ required - Full connection string. Must match the credentials in PostgreSQL config.
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# ⚙️ optional - boolean (true | false | 1 | 0)
VITE_DEBUG=false

# ============================================================
# 🔨 Build
# ============================================================

# ⚙️ optional - Git commit SHA injected at build time.
SOURCE_COMMIT=""

# ============================================================
# 🌍 Web
# ============================================================

# ✅ required - App name.
VITE_APP_NAME=Chakra AI

# ⚙️ optional - Host port for the web service.
WEB_PORT=3000

# ============================================================
# 🖥️ Docs
# ============================================================

# ⚙️ optional - required of AI Plugin is added.
OPENAI_API_KEY=

# ⚙️ optional -  string
OPENROUTER_MODEL=some-openrouter-api-key

# ⚙️ optional - Host port for the docs server.
DOCS_PORT=3001

# ⚙️ optional
GITHUB_REPO=

# ⚙️ optional
GITHUB_OWNER=

# ⚙️ optional
GITHUB_DOCS_CATEGORY=Documentation

# ⚙️ optional
GITHUB_APP_ID=2589924

# ⚙️ optional - private keys must be in PKCS#8 format
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----"

# ============================================================
# 🐘 PostgreSQL
# ============================================================

# ⚙️ optional
POSTGRES_USER=postgres

# ✅ required
POSTGRES_PASSWORD=postgres

# ⚙️ optional
POSTGRES_DB=postgres
